@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
// @import './variables';
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

body {
  background-color: #2b358d;
}
